{% extends 'base.html' %}
<!-- Mystery Books home -->
{% block content%}
<!-- Content -->
{% if show_form %}
<form action="{% url 'new_book' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="pubdate" class="form-label">Date of Publication</label>
        <input type="date" class="form-control" id="pubdate" name="pubdate" />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" min="0" max="2000" step="0.01" class="form-control" id="price" name="price" />
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Quantity</label>
        <input type="number" min="0" max="1000" class="form-control" id="stock" name="stock" />
      </div>
      <div class="mb-3">
        <button class="btn btn-success bg-gradient btn-lg" type="submit">Submit</button>
      </div>
</form>
{% elif error_message %}
<p>{{ error_message }}</p>
{% endif %}

{% endblock %}